*{
    outline: none;
    font-family: 'Open Sans', sans-serif;
    /* color: #F8D930;
    color: #2A2A2E; */
      
}
header{
    background-color: #2A2A2E!important;
}
.bg-light {
    background-color: #2A2A2E!important;
}


.btm{
   
    z-index: 2000;
    width: 2%;
    height: 42%;
    position: absolute;
    top: 50%;
}
.nomeempresa{
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-top: 2%;
  
}
.slogan{
    color: #F8D930;
    font-weight: 400;

  
}

#menu, #idioma, .idioma2{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    font-weight: 400;
    line-height: 5%;
 }
 #menu:hover{
    color: #F8D930;
    border-bottom: solid 1px #F8D930;
 }
 #idioma:active, .idioma2:active{
    color: #F8D930;
 }
 #idioma:hover, .idioma2:hover{
    color: #F8D930;
 }
.sect1,.sect2,.sect3,.sect4, .sect6, .sect9{
    background-color: #2A2A2E!important;
}
h1{
   
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 71px;
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
b{
    color: #F8D930;
 
}
 #textoblack{
    margin-left: 44%;
    margin-top: 10%;
    margin-right: 9%;
    padding-right: 76px;
    padding-bottom: 120px;
    padding-top: 22px;
    height: 108px;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.589);
}
#tecno{
    margin-top: -26%;
    margin-left: 74%;
    background-color: #2a2a2e00;
    font-weight: bold;
    font-size: 85px;
    width: 42%;
    color: rgba(255, 255, 255, 0.11);
    transform: rotate(-90deg);
} 
.sect5{
    background-color: #2A2A2E;
    margin-top: 16%;
    padding-top: 2%;
    
}
.clientes{
    padding-top: 2%;
    font-size: 52px;
    color: #ffffff;
    font-weight: 400;
}
.logos{
    
    padding-bottom: 3%;
    padding-top: 2%;
    margin-left: -7%;
}
.clien{
 
    margin-bottom: 5%;
    width: 9%;
    margin-left: 7%;
}

.sect10{
    background-color: #2A2A2E;
    position: relative;
    padding-bottom: 10%;
}

.img20,.img21, .img22{
    width: 100%;

}


h2{
    font-size: 80px;
    color: #ffffff;
    font-weight: 300;

}
h3{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    line-height: 34px;
    padding-right: 6%;
    
}


.img24{
    width: 80%;
    margin-top: 28%;
}
.luz{
    position: absolute;
    top: 100%;
    left: 32.5%;
    background-image: url(../img/img/image\ 22.png);
    background-size: 117%;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-position-x: 261%;
    width: 67%;
    height: 80vh;
    margin-top: -32.1%;
}
p{
    color: #ffffff;
    font-size: 52px;
}

.jz{
   
    padding-top: 6%;
    padding-left: 6%;
    background-color: #ffffff;
}
.jza{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 6%;
    color: #000000;
    
}
.jzar{
    padding-bottom: 13%;
    font-size: 37px;
    font-weight: 600;
    color: #969696;
}
.jz1{
    background-color: #2A2A2E;;
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 6%;
}
#jza1,.jza1{
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
    
}
.jzar1{
    padding-bottom: 13%;
    padding-top: 5%;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}
.jzar111{
   
    padding-top: 13%;
    margin-left: 4%;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
}
.trans{
    position: absolute;
    left: -11%;
    top: 37%;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 131px;
    color: rgba(255, 255, 255, 0.11);
    transform: rotate(-90deg);
}
#form4{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    background-color: #F5F5F5;
}
.sect7{
    padding-top: 5%;
    background-color:#F5F5F5;
    padding-bottom: 10%;
    
}

input{
    border: none;
    border-bottom: #000000 1px solid;
    font-size: 14px;
    font-weight: 600;
    background-color: #F5F5F5;

}
#nomes{
    width: 173%;
}
input[type=email]{
    width: 71%;
    margin-left: 36%;
}
input[type=tel]{
    width: 112%;
   
}
#emp{
    width: 112%;
} 
#p{
    margin-left: 36%;
}
#cel{
    margin-top: 22%;
}
#firma{
    margin-top: 58%;
}
#men{
    margin-top: 8%;
    margin-left: 12%;
}
textarea{
    border: none;
    border-bottom: #000000 1px solid;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12%;
    background-color: rgba(255, 255, 255, 0);
}
label{
    font-size: 12px;
    font-weight: 300;
    color: #4b4949c2;
}

.estamos {
    margin-left: 6%;
    margin-right: -13%;
    margin-top: 2%;
}
.precisar{
    color: #000000;
    font-size: 52px;
    font-weight: 400;

}
.deixe{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.check{
    margin-top: 2%;
    font-size: 12px;
}

.salvar{
    position: absolute;
    top: 71%;
    left: 45.5%;
    background-color: #F8D930;
    color: #ffffff;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: none;
}

.rec6{
    
     background-color: #F8D930;
     position: absolute;
     width: 100%;
     height: 69%;
}
.sect8{
    background-color: #2A2A2E;
    z-index: 3000;
    margin-top: 1%;
    padding-bottom: 7%;
    width: 744%;
    padding-left: 3%;
    margin-left: -12%;
    margin-right: 8%;
}  

.inf{
    z-index: 2000;
    padding-top: 5%;
}
.inform, .redes{
    display: flex;
    flex-direction: row;
     
}
.end{
    margin-right: 13%;
    margin-left: 10%;
}
.slogan2{
    margin-right: 23%;
}
h4{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  
}
h5{
    color: #cac8c8;
    font-size: 13px;
    font-weight: 300;
    
}
h6{   
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-left: 41%;
    margin-right: -56%;

}
.logo{
    margin-left: 2%;
    position: absolute;
    top: 12%;
    right: 17%;
}
.siga{
    margin-top: 116%;
    margin-right: -6%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.red{
    margin-left: 8%;
}
.reser{
    margin-top: 12.5%;
    margin-left: 41%;
}
.reservado{
    color:  #cac8c8;
    font-size: 14px;
    font-weight: 300;
    margin-left: -25%;
}
.tp{
   position: absolute;
   top: 79%;
   right:3%;
}
 