@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header{
        background-color: #2A2A2E;;
    }
    .container{
        margin-left: 4% !important;
        margin-right: 4% !important;
    }
    .empresa{
        position: relative;
        
    }
    .botao{
        width: 177%;
        height: 101%;
       
    }
    .botao1{
        background-color: #2A2A2E;;
        width: 212%;
        height: 125%;
        margin-left: -23%;
        margin-top: -237%;
        display: none;
       
    }

    .btm{
       
        z-index: 2000;
        width: 5%;
        height: 42%;
        position: absolute;
        top: 39%;
        left: 2%;
    }
  
    .sub{
        display: none;
     
    }
    .sub2{
        font-size: 18px;
        display: none;
        margin-left: 5%;
        padding-top: 3%;
       
    }
    .nomeempresa{
        font-size: 75px;
        margin-left: 17%;
       
    }
    .slogan{
        display: none;
    }
    .menu{
        margin-left: 6%;
        font-size: 49px;
        line-height: 187%;
    }
    nav{
        margin-top: -8%;
        margin-left: 77%;
        margin-right: -33%;
    
    }
    
    .sub{
        display: none;
    }
    .idioma{
        text-decoration: none;
        color: white;
        margin-left: 12%;
        font-size: 50px;
        font-weight: 400;
        line-height: 5%;
        }
    .caixa{
        display: none;
    }
    .sect1{
        margin-top: -1%;
        padding-bottom: 5%;
        background-color: #2A2A2E;
    }
    h1{
        font-size: 72px;
        color: #ffffff;
        font-weight: 400;
        line-height: 107px;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .textoblack{
        display: none;
    }
    .sect2,.sect3,.sect4{
        margin-top: -1%;
        background-color: #2A2A2E;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .img20,.img21,.img22,.rec6,.luz,.trans,.tecno{
        display: none;
    }
    .clien{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25%;
        width: 70%;
        margin-left: 28%;
  
    }
    .clientes {
        margin-top: -1%;
        padding-top: 10%;
        padding-bottom: 11%;
        font-size: 79px;
        
    }
    .imgocl{
        background-color: #2A2A2E;
        width: 100%;
    }
    h2{
        font-size: 75px;
        color: #ffffff;
        font-weight: 300;
        padding-top: 29%;
        margin-top: -1%;
    }
    h3{
        font-size: 32px;
        color: #ffffff;
        font-weight: 300;        
        line-height: 40px;     
        padding-right: 1%;
   
        
    }
    .jz{
        width: 100%;
        padding-top: 17%;
        padding-left: 6%;
        padding-bottom: 17%;
        
      
    }
    .jz1{
        width: 100%;
        padding-top: 6%;
        padding-left: 6%;
        padding-right: 6%;
   
   
    }
    .jza {
        font-size: 72px;
        font-weight: 600;
        margin-bottom: 6%;
        color: #000000;
    }
    .jzar {
        padding-bottom: 13%;
        font-size: 55px;
        font-weight: 600;
        color: #969696;
    }
    .jza1 {
        font-size: 95px;
        font-weight: 600;
        color: #ffffff;
    }
    .jzar1{
        padding-bottom: 13%;
        padding-top: 5%;
        font-size: 55px;
        font-weight: 400;
        color: #ffffff;
    }
    .jzar111 {
        padding-top: 13%;
        margin-left: 1%;
        font-size: 45px;
        font-weight: 300;
        color: #ffffff;
    }
    p {
        color: #ffffff;
        font-size: 90px;
    }
    .jzar12{
        padding-bottom: 13%;
        padding-top: 5%;
        font-size: 42px;
        font-weight: 400;
        color: #ffffff;
    }
    .img24 {
        width: 80%;
        margin-top: 11%;
        margin-left: 10%;
        padding-bottom: 22%;
    }
    .sect9 {
        background-color: #2A2A2E;
        margin-top: -1%;
    }
    .sect10{
        background-color: #000000;
        position: relative;
        padding-bottom: 10%;
    }
    .sect7{
        background-color: #F5F5F5;
        position: relative;
    }
  
    #dis{
        display: flex;
        flex-direction: column-reverse;
    }
    #form4{
     display: none;
        
    }
    .estamos {
        margin-right: -13%;
        margin-top: 2%;
    }
    .precisar {
        margin-left: -6%;
        color: #000000;
        font-size: 76px;
        font-weight: 400;
    }
    .deixe{
        font-size: 45px;
        margin-left: -6%;
        padding-top: 12%;
    }
    .borda{
        margin-top: 12%;
    }
    .form2{
  
        flex-direction: column;
    }
    label{
        font-size: 33px;
        margin-bottom: 5%;
        margin-top: 5%;
    } 
    input{
        font-size: 20px;
        
    } 
    #nomes2, #emp2{
        width: 96%;
    }
    #p2{
        margin-left: 0%;
    }
    input[type=email]{
        width: 96%;
        margin-left: 0%;
    }
    #cel2, #firma2{
        margin-top: 5%;
       
    }
    input[type=tel]{
        width:96%;
       
    }
    #men2{
        margin-top: 8%;
        margin-left: 0%;
    }
    textarea{
        margin-left: 0%;
        font-size: 20px;
       
    }
    .check{
        margin-top: 2%;
        font-size: 25px;
    }
    input[type=checkbox]{
        width: 10%;
    }
    .check input{
        width: 38px;
        height: 38px;
    }
     .lab{
        margin-top: -7%;
        margin-left: 8%;
     }
     .salvar{
        position: absolute;
        top:95%;
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-left: -32%;
        font-size: 36px;
    }
    .rec6,.tp,h6{
        display: none;
    }
    footer{
        background-color:  #2A2A2E;
    }
    .sect8{
        background-color: #2A2A2E;
        margin-top: 0%;
        padding-bottom: 9%;
        width: 100%;
       
    } 
    .inform, .redes{
        display: flex;
        flex-direction: column;
         
    } 
   
    h4{
        
        font-size: 88px;
        margin-left: 58%;
        margin-top: 18%;
    
      
    }
    h5{
       
        font-size: 39px;
        padding-left: 15%;
        margin-left: 34%;
        margin-right: -19%;
        margin-top: 5%;
        
    }
    .logo{
        margin-left: -11%;
        position: absolute;
        top: 43%;
        left: 39%;
    }
    .lay{
        width: 72%;
    }
    .soci{
        margin-left: 43%;
    }
    .siga{
        margin-top: 67%;
        font-size: 53px;
        font-weight: 600;
        margin-left: 42%;
    }
    .red{

        margin-top: 13%;
        margin-left: 11%;
        width: 12%;
    }
    .idioma2{
        font-size: 34px;
        margin-left: 15%;
    }
    .reser{
        margin-top: 21%;
        margin-left: 40%;
    }
    .reservado{
       
        font-size: 34px;
        margin-left: -18%;
        margin-right: -34%;
    }
  
}