@media only screen  and (min-width : 1024px) {
   
    .empresa, .botao, .botão1, #sub2, h2, #form5,#button33,#sub2{
        display: none;
    }
    .bg-dark {
        background-color: #2A2A2E!important;
    }
  
    #nav102{
        margin-top: 4%;
        margin-left: 2%;
    }
    .nomeempresa{
        font-size: 24px;
        padding-top: 2%;
    }

    .slogan{
        color: #F8D930;
        font-weight: 400;
      
    }
   
    #menu, #idioma{
        text-decoration: none;
        color: white;
        font-weight: 400;
        line-height: 5%;
       
    }

    #menu:hover{
        color: #F8D930;
        border-bottom: solid 1px #F8D930;
      
    }
    #id1{
        margin-left: -9%;
        margin-top: -1%;
        
    }
    #id2{
        margin-left: 1%;
        margin-top: -1%;
    }
    #id3{
        margin-left: 7%;
        margin-top: 0%;
    }
    h1{
        font-weight: 300;
        font-size: 42px;
        color: #ffffff;
        position: absolute;
        top: 46%;
        left: 6%;
        line-height: 77px;
    }
    .clien{
        
        margin-bottom: 5%;
        margin-left: 10%;
    }
    
    .sect2,.sect3,.sect4{
        position: relative;
        background-color: #2A2A2E;
    }
  
  
    h2{
        font-size: 80px;
        position: absolute;
        top: 28%;
        left: 6%;
    
    }
    h3{
        font-size: 18px;
        position: absolute;
        top: 60%;
        left: 6%; 
    }
    .somos{
        display: flex;
        flex-direction: row;
         
    }
    .jz{
        width: 49%;
        padding-top: 6%;
        padding-left: 6%;
      
    }
    .jz1{
        width: 59%;
        padding-top: 6%;
        padding-left: 4%;
        padding-right: 6%;
    }
    .jzar12{
        padding-bottom: 13%;
        padding-top: 5%;
        font-size: 17px;
        font-weight: 300;
        color: #ffffff;
    }
    
    .sect7{
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        background-color: #F5F5F5;
        padding-bottom: 10%;
        position: relative;
    }
    #dis{
        display: flex;
        flex-direction: row;
    }
    .estamos {
        margin-left: 6%;
        margin-right: -13%;
        margin-top: 2%;
    }
    .estamos {
        margin-left: 6%;
       
    }
    .deixe{
       font-size: 14px;
      
    }
    label{
        font-size: 12px;
    }
    input{
        font-size: 14px;
    }
    #nomes{
        width: 173%;
    }
    .lab{
        margin-top: 2%;
        font-size: 12px;
    }
    .salvar{
        top: 71%;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
       
    }
    .idioma2{
        text-decoration: none;
        color: white;
        margin-left: 5%;
        font-size: 14px;
        font-weight: 400;
        line-height: 5%;
     }
    footer{
        display: flex;
        background-color: #F5F5F5;
        position: relative;
    }
    .redes{
        margin-left: 10%;
        margin-right: 3%;
        margin-top: 9%;

    }
} 
